@import './utils/mixins';
@import './utils/smart-grid';
/*
@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("./../files/MuseoSansCyrl-500.woff") format("woff"),
    url("./../files/MuseoSansCyrl-500.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}*/
body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}
@import './utils/common';
@import './modules/header';
@import './modules/footer';
@import './pages/main';
