extends ../layout/main

block variables
    - 
        const title = 'Главная';
        const steps = [
            {
                ico: 'search',
                text: 'Lorem ipsum dolor sit amet'
            },
            {
                ico: 'percent',
                text: 'Сonsecteturadipiscing elit'
            },
            {
                ico: 'file',
                text: 'Sed do eiusmod tempor'
            },
            {
                ico: 'message',
                text: 'Esse cillum dolore eu fugiat'
            },
            {
                ico: 'money',
                text: 'Excepteur sint occaecat cupidatat non proident'
            }
        ]

block libs-js
    //script(src="./js/scripts/main-p.js")

block libs-css
    //link(rel="stylesheet" type='text/css' href="./css/main-p.css")

block content
    include ../modules/header
    main.main
        .intro
            .intro__bg
                picture
                    source(media="(min-width:601px)" srcset="./img/banner.webp" type="image/webp")
                    source(media="(min-width:601px)" srcset="./img/banner.jpg" type="image/jpeg")
                    source(srcset="./img/banner-mob.webp" type="image/webp")
                    img(src="./img/banner-mob.jpg" alt="")
            .intro__content.container
                h1.intro__title <span class='blue'>Lorem ipsum</span> dolor sit ametconsectetur <span class='blue'>adipiscing</span>
                .intro__text
                    p
                        b At vero eos et accusamus et iusto odio dignissimos ducimus!
                    ul
                        li Totam rem aperiam eaque ipsa
                        li Sit voluptatem accusantium doloremque laudantium
                        li Sed ut perspiciatis, unde omnis iste natus error
                .intro__btns
                    a(href="#").btn заказать
                    a(href="#").btn-white  подробнее
        .order
            .order__bg
                picture
                    source(media="(min-width:601px)" srcset="./img/map.webp" type="image/webp")
                    source(media="(min-width:601px)" srcset="./img/map.png" type="image/png")
                    source(srcset="./img/map-mob.webp" type="image/webp")
                    img(src="./img/map-mob.png" alt="")
            .order__content.container
                .order__content_top
                    h2.order__title Оформление  <span class='blue'>Заказа</span>
                    .order__text
                        p Перед заполнением формы ознакомьтесь с нашей схемой работы!
                .order__steps
                    for item, i in steps
                        .order__step
                            .order__step_circle
                                +icon(item.ico)
                            p #{item.text}
                            .order__step_dots
                                span
                                span
                                span
                                span
                                span
                form(action="#").form.form-val
                    .form__row
                        .input-wrap
                            .js-select__wrap
                                select._req.visually-hidden.js-select(name="ORDER_TYPE")
                                    option(value="default" hidden selected) Выберите тип системы
                                    option(value="value1") Sed ut perspiciatis
                                    option(value="value2") Nemo enim ipsam
                                    option(value="value3") Et harum quidem
                                    option(value="value4") Temporibus autem
                                    option(value="value5") Itaque earum rerum
                                    option(value="value6") Sed ut perspiciatis
                                    option(value="value7") Nemo enim ipsam
                                    option(value="value8") Et harum quidem
                                    option(value="value9") Temporibus autem
                                    option(value="value10") Itaque earum rerum
                        .input-wrap
                            input.input-default._req(type="text" data-type="email" placeholder="Ваш e-mail" name="ORDER_EMAIL")
                        .input-wrap
                            input.input-default._req(type="text" placeholder="Ваше имя" name="ORDER_USER_NAME")
                        .range.w66
                            .range__top
                                p.label Sed ut perspiciatis, unde omnis iste natus
                                p.range__per
                                    span.range__output 0
                                    | %
                            input.range__input(type="range" name='ORDER_PERCENT')
                        .input-file
                            .input-file__container
                                span.input-file__text Прикрепить файл
                                input(type="file" name="file")
                            .empty-text
                    .form__btns
                        button(type='submit').btn.lg Отправить 
    include ../modules/footer

