extends ../layout/main

block variables
    - 
        const title = 'Главная';

block libs-js
    //script(src="./js/scripts/main-p.js")

block libs-css
    //link(rel="stylesheet" type='text/css' href="./css/main-p.css")

block content
    include ../modules/header
    main.main

    include ../modules/footer

