include ../mixins
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset='UTF-8')
    title #{title}

    meta(name="description" content="TEST site")
    meta(name="author" content="Khapankova Anna")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")

    <!-- ICO-->
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet")
    link(rel="stylesheet" type='text/css' href="./css/critical.css")
    block libs-css
    <!--MAIN-CSS -->
  body
    block content
    script(src="./libs/scroll-lock.min.js")
    script(src="./js/scripts/scripts.js")
    block libs-js
