.intro {
    width: 100%;
    min-height: 100dvh;
    position: relative;
    display: flex;
    &__bg {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img {
            @include cover;
        }
    }
    &__content {
        width: 100%;
        max-width: calc(780px + var(--p) + var(--p));
        min-height: 100%;
        padding-top: 160px;
        padding-bottom: 140px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: min(80px, 6vw);
        @include xmd-block {
            max-width: 80vw;
        }
        @include xxs-block {
            background: rgba(255, 255, 255, 0.3);
        }
        @include xxxs-block {
            max-width: unset;
            padding-top: 120px;
            padding-bottom: 80px;
        }
    }
    &__title {
        color: var(--black);
        font-size: min(48px, 4vw);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @include xs-block {
            font-size: 32px;
        }
        @include xxxs-block {
            font-size: 26px;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        color: var(--black);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include xs-block {
            font-size: 18px;
        }
        @include xxxs-block {
            font-size: 16px;
        }
        p,
        ul,
        a {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--black);
            @include xs-block {
                font-size: 18px;
            }
            @include xxxs-block {
                font-size: 16px;
            }
        }
        b {
            font-weight: 700;
        }
        a {
            color: var(--blue);
            transition: color 0.3s;
            @include hover {
                color: var(--blue-hovered);
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            li {
                position: relative;
                padding-left: 26px;
                &::before {
                    content: '';
                    width: 5px;
                    height: 2px;
                    position: absolute;
                    left: 10px;
                    top: 11px;
                    background: var(--black);
                }
            }
        }
    }
    &__btns {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 30px;
    }
}

.order {
    position: relative;
    padding-top: min(120px, 10vw);
    padding-bottom: min(150px, 12vw);
    background: var(--bg-dark2);
    @include xs-block {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @include xxxs-block {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__bg {
        @include full;
        z-index: 1;
        img {
            @include cover;
        }
    }
    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 80px;
        @include xxs-block {
            gap: 44px;
        }
        &_top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            @include xxs-block {
                gap: 20px;
            }
        }
    }

    &__title {
        color: var(--white);
        font-size: min(36px, 3.4vw);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        @include xs-block {
            font-size: 28px;
        }
    }
    &__text {
        color: var(--light);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        @include xxxs-block {
            font-size: 16px;
        }
    }

    &__steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    &__step {
        width: min(209px, calc((100% - 120px) / 5));
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
        position: relative;
        @include xmd-block {
            width: min(209px, calc((100% - 90px) / 4));
        }
        @include xs-block {
            width: min(209px, calc((100% - 60px) / 3));
        }
        @include xxs-block {
            width: min(209px, calc((100% - 30px) / 2));
        }
        &:nth-child(5n) {
            @media (min-width: 1025px) {
                .order__step_dots {
                    display: none;
                }
            }
        }
        &:nth-child(4n) {
            @media (max-width: 1024px) and (min-width: 769px) {
                .order__step_dots {
                    display: none;
                }
            }
        }
        &:nth-child(3n) {
            @media (max-width: 768px) and (min-width: 601px) {
                .order__step_dots {
                    display: none;
                }
            }
        }
        &:nth-child(2n) {
            @media (max-width: 600px) {
                .order__step_dots {
                    display: none;
                }
            }
        }
        &:last-child {
            .order__step_dots {
                display: none;
            }
        }
        p,
        span {
            color: var(--white);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @include xxxs-block {
                font-size: 14px;
            }
        }
        &_circle {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--blue-hovered);
            border: 5px solid var(--blue-dark);
            @include xxxs-block {
                width: 80px;
                height: 80px;
            }

            img,
            svg {
                @include contain;
                width: 55px;
                height: 55px;
                fill: white;
                @include xxxs-block {
                    width: 46px;
                    height: 46px;
                }
            }
        }
        &_dots {
            position: absolute;
            top: 47px;
            right: -15px;
            width: min(110px, 8vw);
            transform: translateX(50%);
            display: flex;
            justify-content: space-between;
            @include xs-block {
                width: 10vw;
            }
            @include xxs-block {
                width: 16vw;
            }
            @include xxxs-block {
                top: 40px;
            }
            span {
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background: var(--grey);
                animation: dottGlitch 1s infinite;
                &:nth-child(1) {
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-delay: 0.1s;
                }
                &:nth-child(3) {
                    animation-delay: 0.2s;
                }
                &:nth-child(4) {
                    animation-delay: 0.3s;
                }
                &:nth-child(5) {
                    animation-delay: 0.4s;
                }
            }
        }
    }
}

@keyframes dottGlitch {
    0% {
        opacity: 0.76;
    }
    100% {
        opacity: 1;
    }
}

.form__row {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    @include xs-block {
        grid-template-columns: repeat(2, 1fr);
    }
    @include xxs-block {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .js-select__wrap {
        max-width: 100%;
    }
    .input-wrap input {
        width: 100%;
    }
    .w66 {
        grid-column: span 2;
    }
    .w100 {
        grid-column: span 3;
    }
}
.range__top {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-end;
    color: var(--white-85);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include xxxs-block {
        flex-direction: column;
        align-items: flex-end;
        font-size: 16px;
    }
    .label {
        @include xxxs-block {
            width: 100%;
        }
    }
    .range__per {
        width: min-content;
        display: flex;
    }
}
.range {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    @include xs-block {
        order: 5;
    }
    @include xxs-block {
        order: unset;
    }
    input[type='range'] {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
    }
    input[type='range']:focus {
        outline: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: unset;
        background: #dfdfe1;
        border-radius: 100px;
        border: 1px solid var(--white);
    }
    input[type='range']::-webkit-slider-thumb {
        box-shadow: unset;
        border: 3px solid rgba(40, 102, 144, 1);
        height: 27px;
        width: 27px;
        border-radius: 100%;
        background: var(--blue);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -11px;
    }
    input[type='range']:focus::-webkit-slider-runnable-track {
        background: #dfdfe1;
    }
    input[type='range']::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: unset;
        background: #dfdfe1;
        border-radius: 100px;
        border: 1px solid var(--white);
    }
    input[type='range']::-moz-range-thumb {
        box-shadow: unset;
        border: 3px solid rgba(40, 102, 144, 1);
        height: 27px;
        width: 27px;
        border-radius: 100%;
        background: var(--blue);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -11px;
    }
}

.form__btns {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
